.button_svg {
    width: 30px;
    border: none;
    background: none;
    padding-bottom: 2px;
    transform: translate(0,3px);
}

.button_svg:active{
    transform: translate(0,3px) scale(0.8);
    fill: red;
}
.button_svg:hover{
    /*border: 5px rgba(0,0,0, 0.1) solid;*/
    border-radius: 20%;
    background: rgba(0,0,0, 0.1);
}