body{
    background: url("APP/Header/image/spaceBackground.jpg") no-repeat;
    background-size:100% ;
    /*cursor: pointer;*/
}
.App {
    padding: 30px;
    display: flex;
    /*flex-direction: column;*/
    /*border: 1px solid black;*/
}

.App > div {
    margin-right: 50px;
}


.isDone {
    background: none;
    border: 1px solid red;
    /*color: blue;*/
    border-radius: 20%;
}

.opacity {
    opacity: 0.5;
}

.error-input{
    border: 1px solid red
}

.error-message {
    color: red;
}
button{
    cursor: pointer;
}

button:hover{
    border-radius: 20%;
    background: rgba(0,0,0, 0.1);
}
h1{
    margin: 0;
}

